%tr
	%td.table_content= artisan.role
	%td.table_content= link_to full_name(artisan), participant_path(artisan)

	- if user_signed_in?
		%td.admin_col= link_to "Edit", edit_participant_path(artisan)
		%td.admin_col= link_to "Delete", artisan, method: :delete,
																confirm: "Are you sure?"