- content_for :sidebar do
	= render partial: "home/season", collection: seasons

- if user_signed_in?
	= link_to "Add cast or crew", new_episode_participant_path(episode)

- unless actors.empty?
	%h3 Cast
	%table
		%tr
			%th.column_title Character
			%th.column_title Actor's name
			%th.admin_col
			%th.admin_col
		= render partial: "actor", collection: actors

- unless artisans.empty?
	%h3 Crew
	%table
		%tr
			%th.column_title Position
			%th.column_title Name
			%th.admin_col
			%th.admin_col
		= render partial: "artisan", collection: artisans