- content_for :sidebar do	
	.sidebar_link
		%ul.menu
			%li= link_to "Season #{season.number}", season_path(season)
			- if user_signed_in?
				%li= link_to " | Delete", season, method: :delete, confirm: "are you sure?"
				%li= link_to " | Edit", edit_season_path(season)
			%br