= render partial: "season", collection: seasons
	
%section#home
	%h3 The HLOTS Database
	%p This is a very early work in progress. The aim is to create a comprehensive database of the classic 90's show.
	- if user_signed_in?
		= link_to "Add a new season", new_season_path