= render partial: "season", collection: seasons
	
%section#home
	%h3 The HLOTS Database
	%p This is a very early work in progress. The aim is to create a comprehensive database of the classic 90's show. It dosen't look like much at the moment, but please come back again to see the progress.