/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$first_colour: #F2E6D0
$second_colour: #BFB5A8
$third_colour: #8C7F77
$fourth_colour: #593636
$fifth_colour: #735555

@mixin box_shadow
  -webkit-box-shadow: 2px 2px 2px 2px
  box-shadow: 2px 2px 2px 2px
  
@mixin rounded
  -webkit-border-radius: 5px
  border-radius: 5px

#banner
  background: $fourth_colour
  padding: 10px
  height: 80px
  border-bottom: 2px solid
  color: $first_colour
  text-align: center
  @include rounded
  @include box_shadow
  opacity: 0.95
  img
    float: left
#columns
  background: $fifth_colour
  margin-top: 1em
  opacity: 0.8
  @include rounded
  @include box_shadow
  #main
    margin-left: 17em
    padding: 1em
    background: white
  #side
    float: left
    padding: 1em 2em
    width:  13em
    ul
      padding: 0
      li
        list-style: none
        a
          color: $second_colour
          font-size:  1.2em